@import '../App.css';

.card {
    background-image: url('img/бумага.avif');
    background-blend-mode: multiply;
    height: 250px;
    width: 180px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 300px 350px;
    cursor: pointer;
    background-color: rgba(158, 54, 48, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px var(--accent-color-secondary);
}

.card img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
}